%section
  .page-header
    %h1
      = Challenge.model_name.human(count: 2)
      = link_to "<i class='icon-plus'></i> #{t('helpers.links.add')}".html_safe, new_challenge_path, class: 'btn'

- if @challenges_and_milestones.size > 0
  %table.table.table-striped
    %thead
      %tr
        %th= Challenge.model_name.human
        %th= Challenge.human_attribute_name(:completeness)
        %th= Challenge.human_attribute_name(:remaining_days)
        %th= Challenge.human_attribute_name(:longest_streak)
        %th= Challenge.human_attribute_name(:current_streak)
        %th= Milestone.human_attribute_name(:completed?)

    %tbody
      - @challenges_and_milestones.each do |challenge, milestone|
        %tr
          %th= link_to challenge.name, challenge
          %td= number_to_percentage(challenge.completeness_by_date(@date), precision: 1)
          %td= challenge.remaining_days(@date)
          %td= challenge.longest_streak(@date)
          %td= challenge.current_streak(@date)
          %td
            - if milestone && milestone.completed?
              .badge.badge-success
                <i class="icon-ok"></i>
            - elsif milestone
              = link_to t('mark_as_complete'), complete_challenge_milestone_path(milestone.challenge, milestone), method: :put, class: 'btn btn-danger'
            - else
              .btn.disabled= t('nothing_to_do')

- else
  .alert.alert-info
    = t('no_milestones')
