%section
  .page-header
    %h1
      = Chronicle.model_name.human
      - if @chronicle.mood == "happy"
        <i class="icon-thumbs-up"></i>
      - else
        <i class="icon-thumbs-down"></i>
      - if @chronicle.present?
        = link_to "<i class='icon-edit'></i> #{t('helpers.links.edit')}".html_safe, edit_chronicle_path(@chronicle), class: 'btn'
      - else 
        = link_to "<i class='icon-plus'></i> #{t('helpers.links.add')}".html_safe, new_chronicle_path, class: 'btn'

  - if @chronicle
    %p
      = Chronicle.human_attribute_name(:mood) + ':'
      =t @chronicle.mood
    %p
      = Chronicle.human_attribute_name(:summary) + ':'
      = @chronicle.summary