%section
  .page-header
    %h1
      = Payment.model_name.human(count: 2)
      = "(#{@payments.sum(:amount)})"
      = link_to "<i class='icon-plus'></i> #{t('helpers.links.add')}".html_safe, new_payment_path, class: 'btn'


%table.table.table-striped
  %thead
    %tr
      %th= Payment.human_attribute_name :datetime
      %th= Payment.human_attribute_name :method
      %th= Payment.human_attribute_name :description
      %th= Payment.human_attribute_name :amount
      %th

  %tbody
    - @payments.each do |payment|
      %tr
        %td= payment.datetime
        %td=t payment.method
        %td=t payment.description
        %td= payment.amount
        %td
          = link_to t('show'), payment
          \|
          = link_to t('edit'), edit_payment_path(payment)
          \|
          = link_to t('destroy'), payment, :method => :delete, :data => { :confirm => 'Are you sure?' }
