%section
  .page-header
    %h1= t("devise.passwords.change_your_password", :default => 'Update your password')

%h3= t("devise.passwords.change_password_instructions", :default => 'Set your new password using the form below')

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = f.input :reset_password_token, as: :hidden
  = f.full_error :reset_password_token

  .form-inputs
    = f.input :password, label: t("devise.passwords.new_password", :default => 'Password')
    = f.input :password_confirmation, label: t("devise.passwords.confirm_your_new_password", :default => 'Password confirmation')

  .form-actions
    = f.button :submit, t("devise.passwords.change_my_password")

= render "devise/shared/links"