= simple_form_for(@meal) do |f|
  = f.error_notification

  .inputs
    = f.input :datetime
    = f.input :where, collection: Meal::LOCATIONS
    = f.input :kind, collection: Meal::KINDS
    = f.input :description

  .actions
    = f.button :submit
