= simple_form_for(@meal) do |f|
  = f.error_notification

  .inputs
    = f.input :datetime
    = f.input :where, collection: @meal_locations
    = f.input :kind, collection: @meal_kinds
    = f.input :description

  .actions
    = f.button :submit
