%section
  .page-header
    %h1= Payment.model_name.human(count: 2)

%table.table.table-striped
  %thead
    %tr
      %th= Payment.human_attribute_name :datetime
      %th= Payment.human_attribute_name :category
      %th= Payment.human_attribute_name :method
      %th= Payment.human_attribute_name :shared
      %th= Payment.human_attribute_name :description
      %th= Payment.human_attribute_name :amount
      %th

  %tbody
    - @payments.each do |payment|
      %tr
        %td= payment.datetime
        %td=t payment.category
        %td=t payment.method
        %td=t payment.shared? ? 'yes' : 'no'
        %td= payment.description
        %td= payment.amount
        %td
          = link_to t('show'), payment
          \|
          = link_to t('edit'), edit_payment_path(payment)
          \|
          = link_to t('destroy'), payment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to t('new', :model => Payment.model_name.human), new_payment_path
