%section
  .page-header
    %h1
      = Payment.model_name.human
      = @payment.datetime

%p
  %b Category:
  = @payment.category
%p
  %b Method:
  = @payment.method
%p
  %b Shared:
  = @payment.shared
%p
  %b Description:
  = @payment.description
%p
  %b Amount:
  = @payment.amount

%br

= link_to t('edit'), edit_payment_path(@payment)
\|
= link_to t('back'), payments_path
