%section
  .page-header
    %h1
      = Payment.model_name.human
      = number_to_currency @payment.amount
%p
  %b= Payment.human_attribute_name :date
  =l @payment.date, format: :long

%p
  %b= Payment.human_attribute_name :time
  = @payment.time
%p
  %b= Payment.human_attribute_name :category
  =t @payment.category
%p
  %b= Payment.human_attribute_name :method
  =t @payment.method
%p
  %b= Payment.human_attribute_name :shared
  =t @payment.shared? ? 'yes' : 'no'
%p
  %b= Payment.human_attribute_name :description
  = @payment.description

%br

= link_to t('edit'), edit_payment_path(@payment)
\|
= link_to t('back'), payments_path
