%section
  .page-header
    %h1
      = Challenge.model_name.human(count: 2)
      = link_to "<i class='icon-plus'></i> #{t('helpers.links.add')}".html_safe, new_challenge_path, class: 'btn'

%table.table.table-striped
  %thead
    %tr
      %th= Challenge.human_attribute_name :name
      %th= Challenge.human_attribute_name :start_date
      %th= Challenge.human_attribute_name :end_date
      %th= Challenge.human_attribute_name :week_days
      %th= Challenge.human_attribute_name(:longest_streak)
      %th= Challenge.human_attribute_name(:current_streak)
      %th
  %tbody
    - @challenges.each do |challenge|
      %tr
        %td= challenge.name
        %td=l challenge.start_date, format: :short
        %td=l challenge.end_date, format: :short
        %td= challenge.week_days
        %td= challenge.longest_streak(Date.today)
        %td= challenge.current_streak(Date.today)
        %td
          = link_to t('show'), challenge
          \|
          = link_to t('edit'), edit_challenge_path(challenge)
          \|
          = link_to t('destroy'), challenge, :method => :delete, :data => { :confirm => t('helpers.links.confirm') }
