%section
  .page-header
    %h1
      = Challenge.model_name.human


.row
  .span6
    %h2= @challenge.name
    %p
      %b= Challenge.human_attribute_name :start_date
      =l @challenge.start_date, format: :long
    %p
      %b= Challenge.human_attribute_name :end_date
      =l @challenge.end_date, format: :long
    %p
      %b= Challenge.human_attribute_name :week_days
      = @challenge.week_days
    %table.table.table-striped
      %thead
        %tr
          %th= Challenge.human_attribute_name(:longest_streak)
          %th= Challenge.human_attribute_name(:current_streak)
      %tbody
        %tr
          %td= @challenge.longest_streak(Date.today)
          %td= @challenge.current_streak(Date.today)
  .span6
    = render partial: 'milestones', locals: {milestones: @challenge.milestones}

%br

= link_to t('edit'), edit_challenge_path(@challenge)
\|
= link_to t('back'), challenges_path
